.inputContainer {
  margin-bottom: 20px;
  width: 583px;
}

.row {
  display: grid;
  grid-template-columns: 90% 10%;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.restaurantFields {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  min-width: 100%;
  .controller {
    width: 100%;
  }
}

.ingredientFields {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  .controller {
    width: 100%;
  }
}

.quantityUnitGroup {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}

.quantityUnitGroup input {
  max-width: 60px; /* Control input width */
}

.deleteButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #d9534f;

  &:hover {
    color: #c9302c;
  }
}

.addIngredientButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  color: var(--primaryColor);
  font-size: 0.9rem;
}

.buttonsContainer {
  display: flex;
  gap: 15px;
  margin-top: 20px;

  button {
    flex: 1;
  }
}

.arrowContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.unitDisplay {
  margin-top: 10px;
}
