.inputContainer {
  margin-bottom: 20px;
  width: 100%; /* Full width for flexibility */
  min-width: 500px;
}

.row {
  display: grid;
  grid-template-columns: 90% 10%; /* 90% for dropdowns/inputs, 10% for delete button */
  align-items: center; /* Vertically align contents */
  gap: 10px;
  margin-bottom: 10px;
}

.restaurantFields {
  display: flex;
  justify-content: space-between; /* Space out From and To dropdowns */
  width: 100%;
}

.ingredientFields {
  display: flex;
  justify-content: space-between; /* Space out From and To dropdowns */
  width: 100%;
}

.quantityUnitGroup {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.quantityUnitGroup input {
  max-width: 60px; /* Control input width */
}

.deleteButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #d9534f;

  &:hover {
    color: #c9302c;
  }
}

.addIngredientButton {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  cursor: pointer;
  color: var(--primaryColor);
  font-size: 0.9rem;
}

.buttonsContainer {
  display: flex;
  gap: 15px;
  margin-top: 20px;

  button {
    flex: 1;
  }
}

.arrowContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.unitDisplay {
  margin-top: 10px;
}
