.icon {
  font-size: 1rem;
  color: var(--primaryColor);
  cursor: pointer;
}
.rightIcon {
  margin-right: 10px;
  font-size: 1rem;
  color: var(--primaryColor);
  cursor: pointer;
}
.input {
  width: 200px;
  border: 1px solid var(--borderColor);
  border-radius: 4px;
  margin: 0 auto;
  left: 5px;
  position: relative;
}
.orderButtonSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    margin-right: 1rem;
  }
}

.quantitySection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.submitButton {
  position: absolute;
  bottom: 0;
  right: 0;
}

.filterContainer {
  display: flex;
  align-items: center;
}

.noOrder {
  margin-top: 200px;
  text-align: center;
  font-style: italic;
}

.statusSpan {
  padding: '5px 10px';
  border: 12px;
  display: 'inline-block';
  font-size: '12px';
  border-radius: '12px';
}

.status {
  padding: 5px 10px;
  border-radius: 12px;
  display: inline-block;
  font-size: 12px;
  color: white;

  &.pending {
    background-color: var(--secondaryColorAccentued);
    color: black;
  }

  &.received {
    background-color: rgb(57, 205, 57);
  }

  &.default {
    background-color: var(--secondaryColorAccentued);
    color: black;
  }
}
.pendingStock {
  background-color: var(--primaryColor);
  color: white;
}
.receivedStock {
  color: rgb(57, 205, 57);
}
.receivedSection {
  display: flex;
  gap: 10px;
  font-size: 1rem;
  color: var(--primaryColor);
  .editIcon {
    cursor: pointer;
  }
}

.footerContent {
  padding: 16px;
  border-top: 1px solid #eee;
}

.addIngredientButton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 8px;

  svg {
    font-size: 14px;
  }
}
