.icon {
  font-size: 1rem;
  color: var(--primaryColor);
  cursor: pointer;
}
.rightIcon {
  margin-right: 10px;
  font-size: 1rem;
  color: var(--primaryColor);
  cursor: pointer;
}
.input {
  width: 200px;
  border: 1px solid var(--borderColor);
  border-radius: 4px;
  margin: 0 auto;
  left: 5px;
  position: relative;
}
.orderButtonSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    margin-right: 1rem;
  }
}

.quantitySection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.submitButton {
  position: absolute;
  bottom: 0;
  right: 0;
}

.filterContainer {
  display: flex;
  align-items: center;
}

.noOrder {
  margin-top: 200px;
  text-align: center;
  font-style: italic;
}
