.inventory {
  min-height: 75vh; // to make loading lottie in middle of the page
  .actions {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  .tabs-and-tools {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
  }
  .tools {
    display: flex;
    gap: 25px;
    align-items: center;

    .button {
      background-color: var(--navbarColor);
      padding: 6px 10px;
      border: 1px solid transparent;
      border-radius: 10px;
      cursor: pointer;
    }
    .add {
      background-color: var(--primaryColor);
      color: var(--backgroundColor);
    }
  }
}

.sidebar {
  .restaurant-dropdown {
    .label {
      font-size: 0.8rem;
      font-weight: 600;
      opacity: 0.4;
      margin-bottom: 5px;
      text-transform: uppercase;
    }
    width: 100%;
    margin-top: auto;
  }
}

.my-restaurants {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.recipes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  margin: 0 auto;

  /* temporary */
  overflow-y: auto;
  min-height: 75vh; // to make loading lottie in middle of the page
}

.loading-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--secondaryColor);
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1050px) {
  .inventory {
    .tabs-and-tools {
      flex-direction: column;
      gap: 20px;
      align-items: center;
    }
  }
}
