.inventory {
  min-height: 75vh; // to make loading lottie in middle of the page
  .actions {
    display: flex;
    justify-content: center;
    gap: 15px;

    .fa-solid {
      font-size: 1rem;
      color: var(--primaryColor);
      cursor: pointer;
    }
  }
  .tabs-and-tools {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
  }
  .tools {
    display: flex;
    gap: 15px;
    align-items: center;
    height: 35px;
  }
}

.sidebar {
  .restaurant-dropdown {
    .label {
      font-size: 0.8rem;
      font-weight: 600;
      opacity: 0.4;
      margin-bottom: 5px;
      text-transform: uppercase;
    }
    width: 100%;
    margin-top: auto;
  }
}

.my-restaurants {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

@media screen and (max-width: 1050px) {
  .inventory {
    .tabs-and-tools {
      flex-direction: column;
      gap: 20px;
      align-items: center;
      .tools {
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }
}

.react-datepicker-popper {
  z-index: 999 !important;
}

.css-1p3m7a8-multiValue {
  background-color: var(--primaryColor);
  border-radius: 12px !important;
  height: auto;
  color: white;
  .css-1y7rh0y-MultiValueGeneric2 {
    background-color: var(--primaryColor);
    color: white;
    border-radius: 12px 0px 0px 12px;
  }
  .css-12a83d4-MultiValueRemove {
    background-color: var(--primaryColor);
    color: white;
    border-radius: 0px 12px 12px 0px;
  }
}
