.LabeledInput {
  --input-color: var(--primaryColor);

  .input-container {
    position: relative;

    .icon {
      width: 16px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 10px;

      * {
        display: block;
        color: var(--input-color);
      }
    }

    .icon + input {
      padding-left: 35px;
    }

    .icon ~ label {
      left: 35px;
    }

    input {
      width: 100%;
      height: var(--input-large-height);
      border-radius: 5px;
      border: none;
      padding: 15px 16px 4px 16px;
      font-size: var(--input-text-size);
      line-height: 1;
      outline: none;
      box-shadow: none;
      transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;

      &:focus {
        box-shadow: 0 0 0 2px var(--input-color);
      }
    }

    &.lighter input {
      border: 1px solid var(--borderColor);
    }

    label {
      position: absolute;
      pointer-events: none;
      transform: translate(0, 13px) scale(1);

      transform-origin: top left;
      transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
      color: var(--textSecondaryColor);
      font-size: var(--input-text-size);
      line-height: 1;
      white-space: nowrap;
      left: 16px;
    }

    &:focus-within label {
      transform: translate(0, 5px) scale(0.75);
      color: var(--input-color);
    }

    input:not(:placeholder-shown) + label {
      transform: translate(0, 5px) scale(0.75);
    }

    &.error {
      --input-color: var(--errorColor);
    }
  }
}
