:root {
  /* Colors */
  --primaryColor: #5e72e4;
  --primaryColorAccentued: #5567cd;
  --onPrimaryColor: #fcfcfc;
  --secondaryColor: #f6f1f1;
  --secondaryColorAccentued: #dedcdc;
  --backgroundColor: #ffffff;
  --onBackgroundColor: #151515;
  --borderColor: #dbdbdb;
  --textSecondaryColor: #7f7f7f;
  --cardColor: #272727;
  --navbarColor: #f6f1f1;
  --errorColor: #fc4343;

  /* --backgroundColor: #ffffff;
    --typographyPrimaryColor: #151515; */

  /* Font weight */
  --thin: 100;
  --extraLight: 200;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semiBold: 600;
  --bold: 700;
  --extraBold: 800;
  --black: 900;

  /* Values */
  --btnRadius: 10px;
  --transitionDuration: 0.4s;
  --navbarHeight: 80px;
}
* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
body {
  overflow: hidden;
}
#root {
  display: flex;
}
.company-name {
  font-family: 'MuseoModerno', cursive;
  font-weight: var(--extraBold);
  color: var(--primaryColor);
}
.main {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.content {
  padding: 30px;
  position: relative;
}

.tooltip {
  background-color: var(--primaryColor) !important;
  color: var(--onPrimaryColor) !important;
  font-size: 0.8rem !important;
  border-radius: 5px !important;
  padding: 5px 8px !important;
}
