.documentContainer {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 20px 0;

  .documentImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}

.supplier {
  .name {
    font-weight: 600;
    font-size: 1rem;
    color: var(--textSecondaryColor);
  }
  .value {
    color: var(--primaryColor);
  }
}

.carouselContainer {
  position: flex;
  margin: 20px 0;
  max-height: 400px;

  .imageContainer {
    height: 90vh;
    .documentImage {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.documentImageCarousel {
  width: 100%;
  height: auto;
  max-height: 500px;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.table {
  overflow: visible;
  width: 100%;
  border-collapse: collapse;

  thead {
    position: sticky;
    top: 0;
    background: white;
    z-index: 1;
  }
}

.optionsButtons {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  gap: 5px;
}

.detectedNameInput,
.mappedNameInput {
  width: 150px;
}

.quantity,
.price {
  width: 75px;
}

.headerData {
  display: flex;
  gap: 10px;
  margin: 10px 0;

  .input {
    width: 200px;
    border: 1px solid var(--borderColor);
    border-radius: 4px;
  }
  .datePicker {
    border: 1px solid var(--borderColor);
    height: 45px;
    overflow: hidden;
    border-radius: 4px;
    padding: 6px 15px;
    font-size: 14px;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    transition: border-color 0.3s ease;
  }
  .datePicker:focus {
    border-color: var(--primaryColor);
    border-radius: 6px;
    border-width: 2px;
  }
  .calendarIcon {
    width: 21px;
    height: 40px;
    cursor: pointer;
    color: var(--primaryColor);
  }
}

.flexContainer {
  display: flex;
  gap: 20px;
}
.editButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carouselContainer {
  width: 40%;
  height: 100%;
}

.scrollDiv {
  flex: 1;
  overflow-y: auto;
  max-height: calc(100vh - 120px);
}

.addIngredient {
  text-align: center;
  color: var(--primaryColor);
  cursor: pointer;
  margin: 20px 0;

  i {
    margin: 0 5px;
  }
}

.buttonsContainer {
  margin: 20px 0;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}
