.documentContainer {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 20px 0;

  .documentImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}

.documentDetail,
.form {
  height: 100%;
}

.flexContainer {
  height: 100%;
  display: flex;
  gap: 20px;

  // @media screen and (max-width: 768px) {
  //   flex-direction: column;
  // }
}

.supplier {
  .name {
    font-weight: 600;
    font-size: 1rem;
    color: var(--textSecondaryColor);
  }
  .value {
    color: var(--primaryColor);
  }
}

.carouselContainer {
  position: flex;
  margin: 20px 0;
  max-height: 400px;

  .imageContainer {
    height: 90vh;
    .documentImage {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.documentImageCarousel {
  width: 100%;
  height: auto;
  max-height: 500px;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.table {
  overflow: visible;
  width: 100%;
  border-collapse: collapse;

  thead {
    position: sticky;
    top: 0;
    background: white;
    z-index: 1;
  }
}

.optionsButtons {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  gap: 5px;
}

.detectedNameInput,
.mappedNameInput {
  width: 150px;
}

.detectedNameInput {
  text-align: left;
}

.quantity,
.price {
  width: 75px;
}

// .editButton {

//   position: sticky;
//   left: 0;
// }

.header {
  display: flex;
  gap: 10px;
  margin: 10px 0;
  justify-content: space-between;
  align-items: center;
  z-index: 10;

  &.editing {
    justify-content: flex-start;
  }

  position: sticky;
  left: 0;
  .input {
    width: 200px;
  }

  .calendarIcon {
    width: 20px;
    height: 44px;
    cursor: pointer;
    color: var(--primaryColor);
  }
}

.carouselContainer {
  width: 40%;
  height: 100%;
}

.rightPart {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .scrollDiv {
    overflow-y: auto;
    overflow-x: auto;
    height: 100%;
    padding: 2px; // to avoid cropping the input border
  }
}

.addIngredient {
  text-align: center;
  color: var(--primaryColor);
  cursor: pointer;
  margin: 20px 0;

  i {
    margin: 0 5px;
  }
}

.buttonsContainer {
  margin: 20px 0;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}
