.documentDetail {
  position: relative;
  height: 100%;
  overflow: scroll;
  .name {
    color: var(--textSecondaryColor);
    font-weight: var(--semiBold);
    font-size: 1rem;
    margin: 5px 0;
    width: 85%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    .value {
      color: var(--primaryColor);
    }
  }

  .category {
    margin: 2px 0;
    font-size: 0.9rem;
    font-weight: var(--regular);
    .value {
      font-weight: var(--bold);
      color: var(--textSecondaryColor);
    }
  }

  .metrics {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    .metric {
      font-size: 0.9rem;
      display: flex;
      align-items: center;
      gap: 5px;
      .value {
        font-weight: var(--semiBold);
        color: var(--textSecondaryColor);
      }
    }

    .price {
      color: var(--primaryColor);
    }
    .cost {
      color: rgb(241, 79, 79);
    }
    .margin {
      color: rgb(57, 205, 57);
    }
  }

  .noIngredients {
    margin-top: 15px;
    text-align: center;
    font-size: 0.9rem;
    color: text;
  }
}

.documentContainer {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 20px 0;
  .documentImage {
    max-width: 300px;
    max-height: 300px;
  }
}
.table {
  overflow: visible;
  width: 100%;
  border-collapse: collapse;
}

.table thead {
  position: sticky;
  top: 0;
  background: white;
  z-index: 1;
}
.optionsButtons {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  gap: 5px;
}

.detectedNameInput,
.mappedNameInput {
  width: 150px; // Adjust the width as needed
}

.quantity,
.price {
  width: 75px;
}

.headerData {
  display: flex;
  gap: 10px;
  margin: 10px 0;
  .input {
    width: 200px;
    border: 1px solid var(--borderColor);
    border-radius: 5px;
  }
}

.scrollDiv{
  flex: 1;
  overflow-y: auto;
  max-height: calc(100vh - 226px); 
}

.addIngredient {
  text-align: center;
  color: var(--primaryColor);
  cursor: pointer;
  margin: 20px 0;
  i {
    margin: 0 5px;
  }
}

.buttonsContaier {
  margin: 20px 0;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}