.sidebar-item {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  color: var(--onBackgroundColor);
  position: relative;
  transition: all var(--transitionDuration);
  font-size: 0.9rem;
  gap: 10px;

  span {
    white-space: nowrap;
  }

  &:hover {
    background-color: var(--backgroundColor);
  }
  .icon-container {
    width: 30px;
    display: flex;
    justify-content: center;
    i {
      font-size: 1.2rem;
      color: var(--primaryColor);
    }
  }
}
