.flexContainer {
  display: flex;
  gap: 20px;
  .imgPreviewContainer {
    flex: 50%;
    max-width: 50%;
    .imgPreview {
      border-radius: 5px;
      max-width: 100%;
    }
  }
  .documentImage {
    max-width: 500px;
    margin: 0 auto;
    max-height: calc(100vh - 100px);
    display: block;
  }
  .uploadIlmgValidation {
    .headerDocumentData {
      display: flex;
      // height: 150px;
      .imgPreviewContainer {
        border-radius: 5px;
        .imgPreview {
          border-radius: 5px;
          max-width: 150px;
          max-height: 150px;
        }
      }
      .dataWrap {
        display: flex;
        flex-direction: column;
        // flex-wrap: wrap;
        gap: 20px;
        margin: 0 10px;
        .data {
          display: flex;
          font-size: 0.9rem;
          gap: 5px;
          align-items: center;
          .label {
            font-weight: 600;
            color: var(--primaryColor);
          }
          .value {
            color: var(--textSecondaryColor);
            // font-weight: 600;
            .datePicker {
              border: 1px solid var(--borderColor);
              height: 40px;
              overflow: hidden;
              border-radius: 4px;
              padding: 6px 15px;
              font-size: 14px;

              width: 100%;
              box-sizing: border-box;
              outline: none;
              transition: border-color 0.3s ease;
            }
            .datePicker:focus {
              border-color: var(--primaryColor);
              border-radius: 6px;
              border-width: 2px;
            }
          }
        }
      }
    }

    .items {
      position: relative;
      overflow: auto;
      max-height: 350px;
      margin: 10px auto;
      border: 1px solid rgba(0, 0, 0, 0.147);
      border-radius: 5px;

      .row {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-bottom: 20px;
        max-width: 800px;
        padding: 10px;

        .staticInfo {
          display: flex;
          align-items: center;
          .name {
            font-size: 0.9rem;
            margin: 10px 0;
            font-weight: var(--medium);
          }

          .actualVal {
            font-size: 0.75rem;
            color: var(--textSecondaryColor);
            font-weight: 600;
            margin: 0 10px;
            i {
              color: var(--primaryColor);
              margin: 0 5px;
            }
            .newVal {
              color: green;
            }
          }
        }

        .inputs {
          display: flex;
          justify-content: space-between;
          gap: 20px;

          & > * {
            flex: 1;
          }

          .select {
            flex: 2;
          }
        }
        &:after {
          content: '';
          position: absolute;
          bottom: -15px;
          height: 1px;
          background-color: rgba(0, 0, 0, 0.108);
          width: 90%;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}

.finalActions {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .updateInventory {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .buttons {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
  }
}
