.inventory {
  .actions {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  .loading-middle-page-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--navbarColor);
    opacity: 0.8;
  }
  .loading-container {
    position: fixed;
    top: 50%;
    left: 50%;
  }
}
