.basket {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 15px;
  height: 100%;
  gap: 20px;

  .title {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--textPrimaryColor);

    i {
      margin-right: 10px;
      margin-top: 3px; // correct horizontal aligment
      color: var(--primaryColor);
    }
  }

  .container {
    height: 100%;
    overflow-y: scroll;
    padding-right: 15px;
  }

  .datePicker:focus,
  .quantity:focus {
    border-color: #6c757d; /* Add focus effect */
    box-shadow: 0 0 5px rgba(108, 117, 125, 0.5); /* Add subtle focus shadow */
  }

  .ingredientsBySupplier {
    margin-top: 15px;
    .flexContainer {
      display: flex;
      gap: 20px;
      align-items: center;
    }
    .datePicker {
      border: 1px solid #ccc;
      border-radius: 12px;
      padding: 6px 15px;
      font-size: 14px;
      color: #333;
      width: 100%;
      box-sizing: border-box;
      outline: none;
      transition: border-color 0.3s ease;
    }
    .datePicker:focus {
      border-color: #6c757d;
      box-shadow: 0 0 5px rgba(108, 117, 125, 0.5);
    }

    .supplierName {
      font-weight: 500;
      font-size: 0.8rem;
      color: var(--textPrimaryColor);
    }
    .ingredients {
      // overflow-y: scroll;
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      margin-top: 3px;
      gap: 5px;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        left: -9px;
        width: 1px;
        background-color: var(--borderColor);
        height: 100%;
      }

      .row {
        display: flex;
        align-items: center;
        font-size: 0.8rem;
        color: var(--textSecondaryColor);

        .label {
          flex: 5;
        }
        .qantityContainer {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          margin-right: 15px;
          flex: 3;
          i {
            color: var(--primaryColor);
            margin: 0 5px;
            cursor: pointer;
          }
          .qty {
            width: fit-content;
          }
        }
        .cost {
          flex: 1;
          font-weight: 600;
          text-align: right;
        }
      }
    }
    .supplierNote {
      font-size: 0.8rem;
      color: var(--textSecondaryColor);
      font-style: italic;
      margin-top: 4px;
      cursor: pointer;
      i {
        transition: all 0.2s;
      }
      &:hover {
        color: var(--primaryColor);
      }

      .note {
        margin-top: 5px;
        resize: none;
        width: 100%;
        min-height: 100px;
      }
    }
  }

  .total {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--textPrimaryColor);
    .amount {
      color: var(--primaryColor);
    }
  }
  .submit {
    width: 100%;
    margin-top: 10px;
  }
}
