.tabs-and-tools {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;

  .tools {
    display: flex;
    gap: 15px;
    align-items: center;
  }
}

.orders {
}

.catalog {
  min-height: 75vh; // to make loading lottie in middle of the page
  .actions {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  .table-container {
    overflow: scroll;
  }
}

@media screen and (max-width: 1050px) {
  .tabs-and-tools {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    .tools {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
