.onboarding {
  width: 100%;
  height: 100vh;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondaryColor);

  .title {
    font-size: 2.5rem;
    color: var(--primaryColor);
    font-weight: var(--semiBold);
    margin: 20px;
  }
}
