.formContainer {
  height: 60vh;
  overflow-y: auto;

  h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: var(--primaryColor);
  }
}

.ingredientSection {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr 0.6fr;
  gap: 10px;
  padding: 10px 0;
  max-height: 60vh;
  padding-left: 2px;
  padding-right: 2px;
}

.SupplierSection {
  display: grid;
  grid-template-columns: 0.5fr 0.8fr 0.4fr 0.6fr 0.6fr 0.2fr;
  gap: 10px;
  padding: 10px 0;
  max-height: 60vh;
  padding-left: 2px;
  padding-right: 2px;
}

.flexContainer {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.addIngredientButton {
  display: flex;
  gap: 10px;
  cursor: pointer;
  height: var(--input-large-height);
  color: var(--primaryColor);
  font-size: 0.9rem;
}

.buttonsContainer {
  display: flex;
  gap: 15px;
  margin-top: 20px;

  button {
    flex: 1;
  }
}

.deleteButton {
  cursor: pointer;
  color: var(--primaryColor);
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  margin-top: 3px;
}

.IconContainer {
  position: relative;
  background: transparent;
}

.info {
  position: absolute;
  top: 20px;
  right: 10px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}

.info:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  transition: background-color 0.2s ease;
}

.unitInput {
  align-self: flex-start;
}

.errorMessage {
  color: red;
  font-size: 13.6px;
  margin-top: 5px;
}
