// AddSupplierModal.module.scss

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 16px; 
}


.formGroup {
  display: flex;
  gap: 10px;
}

.formInline{
 width: 100%;
}

.formGroup label {
  margin-bottom: 4px;
  font-weight: bold;
}

.input, .detectedNameInput {
  margin-bottom: 8px;
}

.addIngredient {
  text-align: center;
  color: var(--primaryColor); /* Adjust color as needed */
  cursor: pointer;
  margin: auto;
  width: fit-content;
}

.addIngredient i {
  margin: 0 5px;
}
.removeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #dc3545; /* Adjust color as needed */
  font-weight: bold;
  margin-top: 8px;
  padding: 8px;
 
}

.buttonsContainer {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  justify-items: end;
  justify-content: end;
}

.button {
  flex: 1;
}
