.tableContainer {
  margin-bottom: 20px;
}

.paginationContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.actions {
  display: flex;
  gap: 10px;
  justify-content: center;

  i {
    cursor: pointer;
    color: var(--primaryColor);

    &:hover {
      opacity: 0.8;
    }
  }
}

.tableHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
  max-height: 100px;
  padding: 5px;
  overflow-y: auto;
}

.tagChip {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 12px;
  font-size: 12px;
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &.primary {
    background-color: #5e72e4;
    color: #ffffff;
  }

  &.default {
    background-color: #d3d3d3;
    color: #333;
  }
}

.supplierDetails {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
}

.columnHeader {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;

  &:hover {
    opacity: 0.8;
  }
}

.noSupplier {
  color: #666;
  font-style: italic;
}
