.switch {
  display: block;
  width: 40px;
  height: 20px;
  border-radius: 100px;
  background-color: var(--secondaryColor);
  padding: 4px;
  cursor: pointer;
  transition: all 0.3s;

  .btn {
    aspect-ratio: 1;
    height: 100%;
    border-radius: 10px;
    background-color: var(--backgroundColor);
    position: relative;
    left: 0;
    transition: all 0.3s;
  }

  &.active {
    background-color: var(--primaryColor);
    justify-content: flex-end;
    .btn {
      left: 100%;
      transform: translateX(-100%);
    }
  }
}
