.customer-data {
  .name {
    font-size: 1.4rem;
    font-weight: var(--semiBold);
    color: var(--textPrimaryColor);
    margin: 5px 0;
  }
  .location {
    i {
      margin-right: 7px;
    }
    color: var(--textSecondaryColor);
    font-weight: var(--medium);
    font-size: 0.8rem;
  }
}
