.documents {
  .explaination {
    font-weight: 500;
  }

  .tools {
    margin: 15px 0;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }

  .cardsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .noDocuments {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    text-align: center;
    font-weight: 500;
  }
}

  .loadingContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100000;
    background-color: var(--secondaryColor);
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
  }

