.sectionTitle {
  font-size: 1.5rem;
  padding-bottom: 0.8rem;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  color: var(--textPrimaryColor);
  border-bottom: 1px solid var(--borderColor);
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.emptyPage {
  margin-top: 50px;
}

.dropdownSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
 
}
