.importData {
  .description {
    margin-top: 15px;
    margin-bottom: 5px;
    margin: 20px 0 8px 2px;
    font-size: 0.8rem;
    font-weight: var(--medium);
    color: var(--textPrimaryColor);
  }
}
