.map {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px 0 rgba(55, 55, 55, 0.157);

  .map-component {
    cursor: default;
    &:active {
      cursor: move;
    }
  }

  .marker-icon {
    font-size: 1.4rem;
    color: var(--primaryColor);
  }
  .popup-marker {
    padding: 0;
  }
  .popup-marker-text {
    font-size: 0.8rem;
    font-weight: var(--bold);
  }
  .hexagons-container {
    background-color: red;
    border: 1px solid black;
  }
}
