// .card-container {
//   display: flex;
//   justify-content: center;
//   margin-top: 10rem;
//   text-align: center;
// }

.RestaurantCard {
  background-color: var(--secondaryColor);
  box-shadow: 1px 2px 6px 3px rgba(0, 0, 0, 0.1);
  // border: 1px solid #ddd;
  border-radius: 10px;
  padding: 16px;
  margin: 16px;
  // width: 300px;
  transition: all 0.3s ease-out;

  .card:hover {
    box-shadow: 0 0 1em 0px #5e72e4;
    transform: scale(1.01);
  }

  h2 {
    margin: 0;
    margin-bottom: 8px;
    font-size: 20px;
  }

  p {
    margin-bottom: 16px;
    color: #555555;
    font-size: 14px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    font-size: 14px;
  }

  li img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 8px;
  }

  .restaurant-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100px;
    height: 100px;
    overflow: hidden;
  }

  .restaurant-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  /* .avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid #007bff;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .avatar img {
    width: 100%;
    height: 100%;
  } */

  .employees-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the employees horizontally */
  }

  .employee {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    width: 100px;
    text-align: center; /* Add this to center the text horizontally */
  }

  .employee-name {
    font-size: 14px;
    margin-top: 8px;
    white-space: nowrap;
    overflow: hidden;
  }

  .employee-popup {
    position: absolute;

    bottom: 100%;
    /* top: -30px; */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    transition:
      opacity 0.3s,
      visibility 0.3s,
      transform 0.3s;
  }

  .employee:hover .employee-popup {
    opacity: 1;
    visibility: visible;
    transform: translateX(-45%) translateY(100%);
  }

  /* Slider styles */
  .slick-slider {
    width: 100%;
    position: relative;
  }

  .slick-slide {
    display: flex;
    justify-content: center;
  }

  .slick-slide .employee {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    width: 100px;
    text-align: center;
    position: relative;
  }

  .slick-slide .avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid #007bff;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slick-slide .avatar img {
    width: 100%;
    height: 100%;
  }

  .slick-slide .employee-name {
    font-size: 14px;
    margin-top: 8px;
  }

  /* Slider arrows styles */
  .slick-prev,
  .slick-next {
    font-size: 24px; /* Increase the font size to make the arrow symbols visible */
    line-height: 1;
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 50%;
    /* color: #007bff !important; */ /* Set the color to blue */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    padding: 0;
    /* background-color: #007bff;  */
  }

  .slick-prev:before,
  .slick-next:before {
    content: ''; /* Remove the default content */
  }

  .slick-prev:before {
    content: '\2039'; /* Unicode code for "‹" symbol */
    color: #007bff;
  }

  .slick-next:before {
    content: '\203A'; /* Unicode code for "›" symbol */
    color: #007bff;
  }

  .slick-prev:hover,
  .slick-next:hover {
    /* color: #0056b3 !important; */ /* Darker blue on hover */
    /* transform: scale(1.1); */ /* Increase the size on hover */
    margin: 0 8px; /* Add some margin to avoid overlapping with the card */
    /* background-color: #007bff; */
  }

  /* Position the arrows inside the card */
  .slick-next {
    right: -12px;
  }

  .slick-prev {
    left: -12px;
  }

  /* Button styles */
  .buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }

  .overview-btn {
    background-color: var(--primaryColor);
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    margin: 0 8px;
    cursor: pointer;
  }

  .overview-btn:hover {
    background-color: var(--primaryColorAccentued);
  }
}
