.input {
  padding: 6px 15px;
  border: 1px solid rgba(0, 0, 0, 0.229);
  border: 1px solid var(--secondaryColorAccentued);
  border-radius: 10px;
  outline: none;
  transition: all 0.2s;
}
.input::placeholder {
  font-size: 0.8rem;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input[type='number'] {
  -moz-appearance: textfield;
  // text-align: center;
}
.input:focus {
  border: 1px solid var(--primaryColor);
}
