.dropdown {
  select {
    padding: 5px 8px;
    border-radius: 10px;
    color: var(--onBackgroundColor);
    background-color: transparent;
    border: 1px solid var(--secondaryColorAccentued);
    font-weight: var(--light);
    cursor: pointer;
    outline: none;
    transition: all 0.3s;
  }
  select:focus {
    border: 1px solid var(--primaryColor);
  }
}
